body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}
.cup{
    position: relative;
    width: 120px;
    height: 150px;
    background: #d3a87c;
    box-shadow: inset 10px 0 #d3a87c;
    border-radius: 0 0 50% 50%;
}
.handle{
    position: absolute;
    width: 50px;
    height: 80px;
    border: 10px solid #d3a87c;
    border-radius:50%;
    border-left: none;
    right: -30px;
}
.plate{
    position: absolute;
    width: 160px;
    height: 20px;
    background: #d3a87c;
    border-radius: 50%;
    top: 140px;
    right: -15px;
}
.staem{
    position: absolute;
    width: 10px;
    height: 50px;
    background: rgb(92, 90, 90);
    left: 40px;
    top: -60px;
    animation: wale 2s infinite;
}
@keyframes wale {
    0%{
        transform: translateY(0);
        opacity: 0.8;
    }
    50%{
        opacity: 0.4;
    }
    100%{
        transform: translateY(-40px) scale(0.5);
        opacity: 0;
    }
}