*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.airplane{
    width: 40%;
    position: absolute;
    bottom: 150px;
    right: -200px;
    animation: move 4s linear infinite;
}
.runaway{
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(image/road.jpg);
}
@keyframes move{
    0%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(-1500px)
        translateY(-300px)
        rotate(20deg)
        ;
        
    }
}