*{
    margin: 0;
    padding: 0;
}
header{
    height: 7vh;
    color: white;
    background: dodgerblue;
    align-items: center;
    justify-content: center;
    text-align: center;
}
nav{
    padding: 0 6%;
    box-shadow: 2px 3px 4px black;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}
nav .logo img{
    width: 20%;
}
nav .links ul li{
    display: inline-block;
    margin-left: 10px;
}
nav .links ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
main{
    padding: 15% 0 0 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
main .right img{
    width: 50%;
}
.left h2{
    font-size: 30px;
    line-height: 36px;
}
.left button{
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: dodgerblue;
    color: white;
    font-weight: 700;
    cursor: pointer;
    width: 25%;
}
.left button:hover{
    background: black;
}
.service{
    padding: 2% 6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
}
.ab, .ab1, .ab2, .ab3{
    background: lightblue;
    padding: 8%;
}
